*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background: linear-gradient(#141e30, #243b55);
}
.container{
    width:100%;
}

.content{
    width:50%;
    margin: auto;
}
header{
    
    line-height: 120px;
    text-align: center;
    color: #fff;
    font-size: 3em;
    
}

.player{
    width:100%;
    display: flex;
    flex-basis: 40%;
    justify-content: space-around;
}

#p1{
    
    position: relative;
    
    
}

#p2{
    
    position: relative;
    
    
} 
.player input {
    width: 90%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
    overflow: hidden;
  }

  .player label{
    position: absolute;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
  }

.player input:focus ~ label,
.player input:valid ~ label {
  top: -20px;
  left: 0;
  color: #03e9f4;
  font-size: 12px;
}

.player button{
    outline: none;
    background: transparent;
    color: #fff;
    border: none;
}

button{
    cursor: pointer;
}

.box{
    position: relative;
    width: 310px;
    height: 310px;
    margin: auto;
    background: rgba(0,0,0,0.5);
    cursor: pointer;
    
}

table{
    
    position: absolute;
    top:1.70%;
    left:1.55%;
    border-collapse: collapse;
    border-style: hidden;
    border-color: rgba(0,0,0,0.5);
}

.area{
    position: relative;
    width: 79px;
    height: 79px;
    line-height:79px;
    font-size:56px;
    text-align: center;
    padding: 10px;
    color: #03e9f4;
}

.area:hover{
    background-color: rgba(0, 0, 0, 0.247);
}

footer{
    position: relative;
    top: 60%;
    width: 100%;
    line-height: 120px;
    text-align: center;
    color: #fff;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
}

@media(max-width:1025px) and (min-width:768px){
    .player{
        display: block;
        margin: auto;
        width: 60%;
    }

    header{
        font-size: 35px;
    }   
}

@media(max-width:768px) and (min-width:425px){
    .player{
        display: block;
        margin: auto;
        width: 60%;
    }

    header{
        font-size: 35px;
    }

    .content{
        width:70%;
    }
}

@media(max-width:425px) and (min-width:320px){
    .player{
        display: block;
        margin: auto;
        width: 70%;
    }

    header{
        font-size: 35px;
    }

    .content{
        width:90%;
    }

    .box{
        width:290px;
        height: 290px;
        margin: auto;
    }

    .area{
        width: 74px;
        height: 74px;
        line-height: 74px;
    }
}



